:root {
  --color-palette: black, gray, blue, purple, aqua, green, yellow, red, primary,
    secondary;

  /* black */
  --color-black-100: #f8f9ff;
  --color-black-200: #e9ebf7;
  --color-black-300: #c7cfe6;
  --color-black-400: #8f97ad;
  --color-black-500: #656e87;
  --color-black-600: #3a435c;
  --color-black-700: #1a1d25;
  --color-black-default: var(--color-black-700);
  --color-black-lighter: var(--color-black-600);

  /* gray */
  --color-gray-100: #f8f9ff;
  --color-gray-200: #eff2fc;
  --color-gray-300: #e9ebf7;
  --color-gray-400: #c6cce4;
  --color-gray-500: #b1b4cb;
  --color-gray-600: #8f97ad;
  --color-gray-700: #656e87;
  --color-gray-default: var(--color-gray-500);
  --color-gray-lighter: var(--color-gray-400);

  /* blue */
  --color-blue-100: #dcedff;
  --color-blue-200: #98cbff;
  --color-blue-300: #519eed;
  --color-blue-400: #236fbd;
  --color-blue-500: #0b529a;
  --color-blue-600: #003e83;
  --color-blue-700: #003062;
  --color-blue-default: var(--color-blue-600);
  --color-blue-lighter: var(--color-blue-500);

  /* purple */
  --color-purple-100: #efefff;
  --color-purple-200: #d2d1ff;
  --color-purple-300: #9f9dee;
  --color-purple-400: #7977c5;
  --color-purple-500: #444291;
  --color-purple-600: #292768;
  --color-purple-700: #14133d;
  --color-purple-default: var(--color-purple-400);
  --color-purple-lighter: var(--color-purple-300);

  /* aqua */
  --color-aqua-100: #d7fff7;
  --color-aqua-200: #8dffe7;
  --color-aqua-300: #21f0c5;
  --color-aqua-400: #00d0a5;
  --color-aqua-500: #28b09d;
  --color-aqua-600: #177e81;
  --color-aqua-700: #16686c;
  --color-aqua-default: var(--color-aqua-400);
  --color-aqua-lighter: var(--color-aqua-300);

  /* green */
  --color-green-100: #e9fff4;
  --color-green-200: #84e4b0;
  --color-green-300: #54c588;
  --color-green-400: #3ca96e;
  --color-green-500: #348258;
  --color-green-600: #0e492a;
  --color-green-700: #022a15;
  --color-green-default: var(--color-green-400);
  --color-green-lighter: var(--color-green-300);

  /* yellow */
  --color-yellow-100: #fff6ea;
  --color-yellow-200: #ffe7c7;
  --color-yellow-300: #f8c481;
  --color-yellow-400: #f5b158;
  --color-yellow-500: #cb8933;
  --color-yellow-600: #915a12;
  --color-yellow-700: #603906;
  --color-yellow-default: var(--color-yellow-400);
  --color-yellow-lighter: var(--color-yellow-300);

  /* red */
  --color-red-100: #fee9ec;
  --color-red-200: #ffb9c4;
  --color-red-300: #ff8094;
  --color-red-400: #fc536e;
  --color-red-500: #d0304a;
  --color-red-600: #801022;
  --color-red-700: #570513;
  --color-red-default: var(--color-red-400);
  --color-red-lighter: var(--color-red-300);

  /* PRIMARY */
  --color-primary-100: var(--color-blue-100);
  --color-primary-200: var(--color-blue-200);
  --color-primary-300: var(--color-blue-300);
  --color-primary-400: var(--color-blue-400);
  --color-primary-500: var(--color-blue-500);
  --color-primary-600: var(--color-blue-600);
  --color-primary-700: var(--color-blue-700);
  --color-primary-default: var(--color-blue-default);
  --color-primary-lighter: var(--color-blue-lighter);

  /* SECONDARY */
  --color-secondary-100: var(--color-gray-100);
  --color-secondary-200: var(--color-gray-200);
  --color-secondary-300: var(--color-gray-300);
  --color-secondary-400: var(--color-gray-400);
  --color-secondary-500: var(--color-gray-500);
  --color-secondary-600: var(--color-gray-600);
  --color-secondary-700: var(--color-gray-700);
  --color-secondary-default: var(--color-gray-default);
  --color-secondary-lighter: var(--color-gray-lighter);
}
